<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--연결할 mapper객체(java) 연결-->
<mapper namespace="com.gwantong.project.hotplace.mapper.HotplacesMapper">

    <!--아래 type에 명시된 dto들은 application.properties의 mybatis설정에서 alias가 설정된 객체들-->
    <!--아래는 resultMap 설정. type=저장객체, id=이름, column=DB결과, property=객체의 필드-->
    
    <resultMap type="hotplaceDto" id="hotplaceDtoMap">
        <result column="hotplace_no" property="hotplaceNo"/>
        <result column="user_no" property="userNo"/>
        <result column="hotplace_title" property="hotplaceTitle"/>
        <result column="hotplace_text" property="hotplaceText"/>
        <result column="hotplace_date" property="hotplaceDate"/>
        <result column="hotplace_views" property="hotplaceViews"/>
    </resultMap>


    <!--이건 모름-->
    <!--
	<resultMap type="boardDto" id="viewArticle" extends="article">
		<collection property="fileInfos" column="article_no" javaType="list" ofType="fileInfoDto" select="fileInfoList"/>
	</resultMap>
    -->
    <select id="viewAllHotplaces" resultMap="hotplaceDtoMap">
        select * from hotplaces_tb
    </select>
    


    <select id="selectHotplace" parameterType="int" resultMap="hotplaceDtoMap">
        select * from hotplaces_tb where hotplace_no = #{hotplaceNo};
    </select>

    <update id="increaseHotplaceViews" parameterType="int">
        update hotplaces_tb set hotplace_views = hotplace_views + 1 where hotplace_no = #{hotplaceNo};
    </update>

</mapper>