<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--연결할 mapper객체(java) 연결-->
<mapper namespace="com.gwantong.project.notice.mapper.NoticeMapper">

    <!--아래 type에 명시된 dto들은 application.properties의 mybatis설정에서 alias가 설정된 객체들-->
    <!--아래는 resultMap 설정. type=저장객체, id=이름, column=DB결과, property=객체의 필드-->
    
    <resultMap type="noticeDto" id="noticeDtoMap">
        <result column="notice_no" property="noticeNo"/>
        <result column="user_no" property="userNo"/>
        <result column="notice_title" property="noticeTitle"/>
        <result column="notice_text" property="noticeText"/>
        <result column="notice_date" property="noticeDate"/>
        <result column="notice_file" property="noticeFile"/>
    </resultMap>


    <!-- 모든 글 보기 -->
    <select id="viewAllNotices" resultMap="noticeDtoMap">
        select * from notice_tb
    </select>

    <select id="viewNotice" parameterType="int" resultMap="noticeDtoMap">
        select * from notice_tb where notice_no = #{noticeNo}
    </select>
    
</mapper>